<body>
   {% if movie_list %}
   <h1>Movie List</h1>
   <table border="3">
    <thead>
        <th>Release Date</th>
        <th>Movie Name</th>
        <th>hero</th>
        <th>heroine</th>
        <th>Rating</th>
    </thead>
    {% for movie in movie_list %}
    <tr>
        <td>{{movie.rdate}}</td>
        <td>{{movie.moviename}}</td>
        <td>{{movie.hero}}</td>
        <td>{{movie.heroine}}</td>
        <td>{{movie.rating}}</td>
    </tr>
    {% endfor %}
   </table> 
   {% else %}
   <h1>No Movie Found</h1>
   {% endif %}
</body>